.dropdown-menu {
  position: relative;
}

/* show class */
.dropdown {
  position: absolute;
  background-color: #fff;
  padding-left: 0;
  list-style-type: none;
  z-index: 2;
  border: 1px solid #e5e5e5;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s;
}

.dropdown li a {
  text-decoration-line: none;
  color: #000;
  font-size: 0.85rem;
}

.dropdown li a:hover {
  color: var(--text-primary);
}

.dropdown li + li {
  margin-top: 0.3rem;
}

.dropdown.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-icon {
  transition: transform 0.3s ease;
}

.rotate-180 {
  transform: rotate(-180deg);
}

.field input::placeholder,
textarea::placeholder {
  color: #000000;
  font-family: "Outfit", sans-serif;
}

.field input,
textarea {
  padding: 0.8rem 1rem;
  margin-block: 0.6rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.3rem;
}

.field input,
textarea {
  width: 100%;
}
